    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Simple<span class="highlight">Elastix</span>?</h2>
            <p class="intro text-center">SimpleElastix is an extension of <a href="http://www.simpleitk.org/">SimpleITK</a> that includes the popular <a href="http://elastix.isi.uu.nl/">elastix</a> C++ library. Elastix is a modular collection of high-performance medical image registration algorithms, for which SimpleElastix automatically generates bindings for Python, Java, R, Ruby, Octave, Lua, Tcl and C#. This makes state-of-the-art registration really easy to do in your favorite programming environment.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed For Humans</h3>
                        <p>A user-friendly API facilitates rapid prototyping and reduces overhead for processing of large data sets.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Multi-lingual</h3>
                        <p>Silky-smooth integration with your favorite C++, Python, Java, R, Ruby, Lua, Tcl and C# programming tools.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Powerful</h3>
                        <p>Speed up your image processing pipeline with high-performance multi-threaded C++ registration algorithms.</p>
                    </div><!--//content-->
                </div><!--//item-->              
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Open Source</h3>
                        <p>The code is open source, developed on Github and licensed under the permissive <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2.0 license</a>.</p>
                    </div><!--//content-->
                </div><!--//item-->               
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-dashboard"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Quickstart</h3>
                        <p>Preconfigured registration methods serve as robust starting points for tuning SimpleElastix to your application.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-plug"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy To Extend</h3>
                        <p>Plugin your own transforms, metrics and optimizers in elastix and use SimpleElastix to call your C++ code in any of the supported languages.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->
           
        </div><!--//container-->
    </section><!--//about-->
