    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Simple<span class="highlight">Elastix</span>?</h2>
            <p class="intro text-center">SimpleElastix is an extension of SimpleITK that comes with the elastix C++ image registration library. This makes state-of-the-art medical image registration really easy to do in languages like Python, Java, C# and R.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed For Developers</h3>
                        <p>A user-friendly API facilitates rapid prototyping and reduces overhead for processing of large data sets.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Multi-lingual</h3>
                        <p>Use your favorite programming tools with native bindings for Python, Java, R, Ruby, Octave, Lua, Tcl and C#.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-server"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Powerful</h3>
                        <p>Speed up your image processing pipeline with high-performance multi-threaded C++ registration algorithms.</p>
                    </div><!--//content-->
                </div><!--//item-->              
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-sliders"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Parameter-driven Configuration</h3>
                        <p>Quickly try out different transforms, metrics and optimizers using simple, declarative parameters.</p>
                    </div><!--//content-->
                </div><!--//item-->               
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-dashboard"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Quickstart</h3>
                        <p>Preconfigured registration methods serve as robust starting points for tuning SimpleElastix to your application.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy To Extend</h3>
                        <p>Write your own transforms, metrics and optimizers in elastix and use SimpleElastix to call your C++ code in any of the supported languages.</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->
           
        </div><!--//container-->
    </section><!--//about-->
