<!-- ******CONTACT****** --> 
<section id="contact" class="contact section has-pattern testimonials">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title  text-center">Contact</h2>

            <div class="author-message">                      
                <div class="profile">
                    <a href="http://kaspermarstal.github.io" target="_blank"><img class="img-responsive" src="assets/images/profile.jpeg" alt="Go to my website" /></a>
                </div><!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Questions?</h3>
                    <p>We would love to hear from you.</p>
                    <p>&nbsp;</p>
                    <form action="//formspree.io/kaspermarstal@gmail.com" method="POST">
                        <input type="text" name="name" class="formspree left" placeholder="Name">
                        <input type="email" name="_replyto" class="formspree right" placeholder="Email">
                        <textarea name="message" rows="5" class="formspree message" placeholder="Message"></textarea>
                        <input type="submit" value="Send" class="btn db-button-color-square btn-lg">
                        <input type="text" name="_gotcha" style="display:none" class="formspree" />
                    </form>
                    <div class="source">
                        <span class="name">Kasper Marstal</span><br />
                        <span class="title">M.Sc. Eng., Medicin &amp; Technology</span><br />
                    </div><!--//source-->
                </div><!--//speech-bubble-->                        
            </div><!--//author-message-->
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://github.com/kaspermarstal" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/kaspermarstal" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kaspermarstal"><i class="fa fa-linkedin"></i></a></li>   
                    <li class="last"><a href="mailto:kaspermarstal@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section><!--//contact-->  