<section id="download" class="download section">
    <h2 class="title text-center">Download</h2>
        <div class="cta-container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2 class="highlight">Source code</h2>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <a class="btn btn-cta-secondary" href="https://github.com/kaspermarstal/SimpleElastix/archive/v0.9.0-SimpleElastix.zip" target="_blank"><i class="fa fa-download"></i> ZIP</a>
                    <a class="btn btn-cta-secondary" href="https://github.com/kaspermarstal/SimpleElastix/archive/v0.9.0-SimpleElastix.tar.gz" target="_blank"><i class="fa fa-download"></i> TAR.GZ</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2></i> Git clone</h2>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <a class="btn btn-cta-primary" href="https://github.com/kaspermarstal/SimpleElastix" target="_blank"><i class="fa fa-github"></i> Go to Github</a>
                </div>
            </div>
        </div>
        <div class="cta-container">
            <div class="speech-bubble">                    
                <p>SimpleElastix is distributed under the permissive Apache License Version 2.0. You can use SimpleElastix for any purpose, including commercial, but you must give credit where credit is due. For academic publications use the following citation</p>
                <p class="cite"><i>Kasper Marstal, SimpleElastix, 2015, Github repository: https://github.com/kaspermarstal/SimpleElastix, DOI: 10.5281/zenodo.19049</i></p>
                <p>and for redistribution include the license and copyright notice in the root of the SimpleElastix repository as prescribed by the license terms.</p>
                <p>Thank you!</p>
            </div><!--//speech-bubble-->
            </br></br>
            <div class="icon-holder  text-center"><p><i class="fa fa-smile-o"></i></p></div>
        </div><!--//cta-container-->
</section>