<section id="download" class="download section">
    <h2 class="title text-center">Download</h2>
        <div class="cta-container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2 class="highlight">Source code</h2>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <a class="btn btn-cta-secondary" href="https://github.com/kaspermarstal/SimpleElastix" target="_blank"><i class="fa fa-github"></i> Github</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h2></i>Binaries</h2>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <a class="btn btn-cta-primary" href="https://sourceforge.net/projects/simpleelastix/" target="_blank"><i class="fa fa-windows"></i> Python 3.4 (Win x64)</a>
                </div>
            </div>
        </div>
        <div class="cta-container">
            <div class="speech-bubble">                    
                <p>SimpleElastix is distributed under the permissive <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache License Version 2.0</a>. You can use SimpleElastix for any purpose, including commercial, but you must give credit where credit is due. For academic publications use the following citation</p>
                <p class="cite"><i>Kasper Marstal, Floris Berendsen, Marius Staring and Stefan Klein, "SimpleElastix: A user-friendly, multi-lingual library for medical image registration", International Workshop on Biomedical Image Registration (WBIR), Las Vegas, Nevada, USA, 2016</i></p>
                <p>and for commercial as well as non-commercial projects include the license and copyright notice in the root of the SimpleElastix repository as prescribed by the license terms.</p>
                <p>Thank you!</p>
            </div><!--//speech-bubble-->
            </br></br>
            <div class="icon-holder  text-center"><p><i class="fa fa-smile-o"></i></p></div>
        </div><!--//cta-container-->
</section>