<!-- ******DOWNLOAD****** -->
<section id="download" class="docs section">
    <div class="container">
        <h2 class="title text-center">Download</h2>
        <p class="intro text-center">Get SimpleElastix today.</p>
        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="price">
                            FREE
                            <small>forever</small>
                        </div>
                        <div class="type">
                            COMMUNITY
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache License Version 2.0</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="https://github.com/kaspermarstal/SimpleElastix" class="btn db-button-color-square btn-lg">GITHUB</a>
                            <a href="https://github.com/kaspermarstal/SimpleElastix/archive/v0.9.0-SimpleElastix.zip" class="btn db-button-color-square btn-lg">ZIP</a>                            <a href="https://github.com/kaspermarstal/SimpleElastix/archive/v0.9.0-SimpleElastix.tar.gz" class="btn db-button-color-square btn-lg">TAR.GZ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-three popular">
                        <div class="price">
                            <sup>$</sup>199
                            <small>per year</small>
                        </div>
                        <div class="type">
                            ACADEMIC
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache License Version 2.0</li>
                            <li>Linux, Mac & Windows binaries</li>
                            <li>Upgrade subscription</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="academic.html" class="btn db-button-color-square btn-lg">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-six">
                        <div class="price">
                            <sup>$</sup>999
                            <small>per year</small>
                        </div>
                        <div class="type">
                            COMMERCIAL
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache License Version 2.0</li>
                            <li>Linux, Mac & Windows binaries</li>
                            <li>Upgrade subscription</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#" class="btn db-button-color-square btn-lg">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
