<!-- ******SERVICES****** -->
<section id="services" class="about section">
    <div class="container">
        <h2 class="title text-center">Services</h2>
        <p class="intro text-center">Get the most out of SimpleElastix with help from the core team.</p>
    </div>
    <div class="container">
        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="price">
                            <i class="fa fa-graduation-cap"></i>
                            <small>become a registration expert</small>
                        </div>
                        <div class="type">
                            TRAINING
                        </div>
                        <ul>
                            <li><b>Learn best practices</b> Get up to speed quickly and avoid common pitfalls</li>
                            <li><b>Hands-on workshops</b> Learn to use SimpleElastix with your own data</li>
                            <li><b>On-site training</b> Courses taught by core SimpleElastix engineers</li>  
                        </ul>
                        <div class="pricing-footer">
                            <a href="#contact" class="btn db-button-color-square btn-lg scrollto">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-three popular">
                        <div class="price">
                            <i class="fa fa-users"></i>
                            <small>deliver better products to your customers</small>
                        </div>
                        <div class="type">
                            CONSULTANCY
                        </div>
                        <ul>
                            <li><b>Technology evaluation</b> See what’s possible for your project and data</li>
                            <li><b>Proof-of-concept</b> Get your idea working on target systems</li>
                            <li><b>Design and implementation</b> Dramatically speed up product development</li>  
                        </ul>
                        <div class="pricing-footer">
                            <a href="#contact" class="btn db-button-color-square btn-lg scrollto">CONTACT US</a>
                        </div>
                        <p><br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-six">
                        <div class="price">
                            <i class="fa fa-cogs"></i>
                            <small>focus on your core competencies</small>
                        </div>
                        <div class="type">
                            SUPPORT
                        </div>
                        <ul>
                            <li><b>Technical support</b> Support throughout the development of your project</li>
                            <li><b>Phone, email and remote desktop</b> On-demand access to the people who wrote the code</li>
                            <li><b>Hot fixes and emergency patches</b> Support for production environments.</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#contact" class="btn db-button-color-square btn-lg scrollto">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
