<!-- ******SUPPORT****** -->
<section id="services" class="services section">
    <div class="container">
        <h2 class="title text-center">Services</h2>
        <p class="intro text-center">Get the most out of SimpleElastix with help from the core team.</p>
        <div class="row db-attached">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-four">
                        <div class="price">
                            <i class="fa fa-tachometer"></i>
                            <small>accelerate time to market</small>
                        </div>
                        <div class="type">
                            CONSULTANCY
                        </div>
                        <ul>
                            <li>Learn best practices</li>
                            <li>Speed up product development</li>
                            <li>Focus on your core competences</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="https://github.com/kaspermarstal/SimpleElastix" class="btn db-button-color-square btn-lg">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-four">
                        <div class="price">
                            <i class="fa fa-users"></i>
                            <small>focus on your customers</small>
                        </div>
                        <div class="type">
                            SUPPORT
                        </div>
                        <ul>
                            <li>Support for production environments</li>
                            <li>Hot fixes and emergency patches</li>
                            <li>Performance optimization</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#" class="btn db-button-color-square btn-lg">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
