<!-- ******SUPPORT****** -->
<section id="support" class="docs section">
    <div class="container">
        <h2 class="title text-center">Support</h2>
        <p class="intro text-center">Get professional support. Contact us for a discussion on how SimpleElastix can accelerate your time to market.</p>
        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="price">
                            FREE
                            <small>forever</small>
                        </div>
                        <div class="type">
                            Community
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache 2.0 license</li>
                            <li>Clone via Github</li>
                            <li>Support via Github issues</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="https://github.com/kaspermarstal/SimpleElastix" class="btn db-button-color-square btn-lg">GITHUB REPOSITORY</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-three popular">
                        <div class="price">
                            <sup>$</sup>999
                                    <small>per year</small>
                        </div>
                        <div class="type">
                            Academic
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache 2.0 license</li>
                            <li>Clone via Github</li>
                            <li>Technical support</li>
                            <li>Scientific writing support</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="academic.html" class="btn db-button-color-square btn-lg">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-six">
                        <div class="price">
                            <sup>$</sup>9999
                                    <small>per year</small>
                        </div>
                        <div class="type">
                            Commercial
                        </div>
                        <ul>
                            <li>Source code</li>
                            <li>Apache 2.0 license</li>
                            <li><i class="fa fa-linux"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i> redistributable installers </li>
                            <li>Development support</li>
                            <li>Production support</li>
                            <li>Training and consultancy</li>
                        </ul>
                        <div class="pricing-footer">

                            <a href="#" class="btn db-button-color-square btn-lg">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
