    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="author-message">                      
                        <div class="profile">
                            <img class="img-responsive person" src="assets/images/fabien.png" alt="Fabien Pertuy" />
                            <a href="http://www.ics-mci.fr" alt="ICS" target="_blank"><img class="img-responsive institution" src="assets/images/ics.png" alt="Institut Clinique de la Souris" /></a>
                        </div><!--//profile-->
                        <div class="speech-bubble">
                            <p>SimpleElastix is exactly what I was looking for, combining the power of elastix and the ease of use of SimpleITK. I can integrate it flawlessly into my Python scripts.</p>
                            <p><i>Fabien Pertuy, Research Engineer, <a href="http://www.ics-mci.fr" alt="ICS" target="_blank">Institut Clinique de la Souris</i></a></p>
                        </div><!--//speech-bubble-->                        
                    </div><!--//author-message-->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="author-message">                      
                        <div class="profile">
                            <img class="img-responsive person" src="assets/images/philip.png" alt="Philip Hansen" />
                            <a href="www.frederiksberghospital.dk" alt="ICS" target="_blank"><img class="img-responsive institution" src="assets/images/frb.jpg" alt="Frederiksberg Hospital" style="padding: 2px" /></a>
                        </div><!--//profile-->
                        <div class="speech-bubble">
                            <p>We aim to advance understanding of anatomical changes in the human foot induced by weightbearing. SimpleElastix allowed our team to build a digital 3D model to visualize tarsal bone movements in very little time.</p>
                            <p><i>Philip Hansen, MD, PhD, <a href="http://www.frederiksberghospital.dk" alt="ICS" target="_blank">Frederiksberg Hospital</i></a></p>
                        </div><!--//speech-bubble-->                        
                    </div><!--//author-message-->
                </div>
            </div>
        </div>
    </section>
